<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @post.contents %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<h2>コメント</h2>
<% @post.comments.each do |c| %>
  <p>
    <%= c.commenter %>: <%= c.body %>
    <%= link_to "削除", [c.post, c], confirm: "よろしいですか？", method: :delete %>
  </p>
<% end %>

<h3>コメントを書く</h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :commenter %><br><%= f.text_field :commenter %>
  </div>
  <div class="field">
    <%= f.label :body %><br><%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
